/* =========================================================================================================================== */
/* The logo - this centers it and resizez is */
#logoWrapper {
	display: block;
	width: 250px;
	margin: 0 auto;
}

#logo {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

/* =========================================================================================================================== */
/* Some generic stuff */
select option[disabled] {
	display: none;
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #4bb8ef;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Arial';
	color: #fff;
}

.error {
	background-color: #fedb89 !important;
	color: #7C2B83 !important;
	-webkit-transition: opacity .1s ease, color .1s ease, background .1s
		ease, box-shadow .1s ease;
	transition: opacity .1s ease, color .1s ease, background .1s ease,
		box-shadow .1s ease;
	border: 1px solid #7C2B83 !important;
}

textarea {
	resize: none;
}

td div.columnOverflow {
	overflow: hidden;
}

/* =========================================================================================================================== */
/* The log in page design - all the good stuff */
#logInWrapper {
	border-radius: 10px;
	display: block;
	width: 250px;
	margin: 0 auto;
	text-align: center;
	padding: 1%;
}

#frontPageContainer {
	position: relative;
	display: block;
	width: 250px;
	margin: 40px auto 0px;
}

#toggle-login, #toggle-signup, #toggle-recovery, #logInButton,
	#registerButton, #recoveryButton, #submitTicketButton,
	#respondToTicketButton {
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

h1.frontPage {
	border-radius: 5px 5px 0px 0px;
	margin: -35px 0px 0px;
	background: #0d94d2;
	padding: 10px 0;
	font-family: 'Arial';
	font-size: 18px;
	text-align: center;
	color: #fff;
}

.frontPageForms {
	border-radius: 0px 0px 5px 5px;
	background: linear-gradient(to bottom, #7bc143 0%, #b6d81c 48%, #7bc143 100%);
	text-align: center;
	padding: 4% 4%;
}

#regTitle {
	width: 230px;
	background: #f1f8ec;
	margin: 8px 0px;
	border: 1px solid #555;
	padding: 5px 10px 5px 5px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

#logInMail, #logInPass, #recoveryMail, #regFirstName, #regLastName,
	#regMail, #regPass, #regConfPass {
	width: 208px;
	background: #f1f8ec;
	margin: 8px 0px;
	border: 1px solid #555;
	padding: 6px 10px 6px 10px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

/* =========================================================================================================================== */
/* User page - designed the stuff */
#mainContainer {
	width: 1225px;
	display: block;
	margin: 0 auto;
}

#menuWrapper {
	float: left;
	width: 15.5%;
	overflow: hidden;
	margin: 0px 5px 0px 0px;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 1%;
}

#contextWrapper {
	float: left;
	width: 80%;
	overflow: hidden;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 1%;
}

.menuRightArrow {
	display: inline-block;
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 14.7px;
	border-color: transparent transparent transparent #f1f8ec;
}

.menuRightArrowSelected {
	display: inline-block;
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 14.7px;
	border-color: transparent transparent transparent #7bc143;
}

#btn-mngTk, #btn-userTk, #btn-subTk, #btn-prop, #btn-logOut {
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#ticketSearchButton {
	width: 150px;
	border-radius: 5px;
	background: #0d94d2;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

h1.userPage {
	border-radius: 5px;
	margin: 5px 0px 0px 0px;
	background: #0d94d2;
	padding: 10px 0;
	font-family: 'Arial';
	font-size: 18px;
	text-align: center;
	color: #fff;
}

h2.userPage {
	margin: 20px 0px 0px 0px;
	font-family: 'Arial';
	font-size: 32px;
	text-align: center;
	color: #0d94d2;
}

.ticketInput {
	border-radius: 5px;
	width: 96.5%;
	background: #f1f8ec;
	margin: 10px 0px 0px 0px;
	border: 1px solid #555;
	padding: 5px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

.ticketCategories {
	border-radius: 5px;
	width: 250px;
	background: #f1f8ec;
	margin: 10px 0px 0px 0px;
	border: 1px solid #555;
	padding: 4px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

#tkPerPgDiv {
	display: inline-block;
	float: right;
}

#ticketsPerPage {
	border-radius: 5px;
	width: 50px;
	background: #f1f8ec;
	margin: 0px;
	border: 1px solid #555;
	padding: 2px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

.searchTickets {
	border-radius: 5px;
	border: 1px solid #555;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
	background: #f1f8ec;
}

#ticketSearchBox {
	width: 300px;
	padding: 9px;
}

#ticketSearchDropBox {
	width: 150px;
	padding: 8px;
}

.ticketView {
	table-layout: fixed;
	width: 100%;
	margin: 0px 0px 5px 0px;
	font-family: 'Arial';
	border-collapse: collapse;
}

.table-surf {
	display: inline-block;
	cursor: pointer;
}

.ticketView thead th.wide-col {
	width: 27.5%;
}

.ticketView thead th.slim-col {
	width: 15%;
}

.ticketView thead th#rounded-tl {
	border-radius: 5px 0px 0px 0px;
}

.ticketView thead th#rounded-tr {
	border-radius: 0px 5px 0px 0px;
}

.ticketView tfoot th#rounded-bot {
	border-radius: 0px 0px 5px 5px;
}

.ticketView tbody tr:hover td {
	color: #333;
	background: linear-gradient(to bottom, #7bc143 0%, #b6d81c 48%, #7bc143 100%);
}

.ticketView tbody {
	outline: 1px solid #0d94d2;
	outline-offset: -1px;
}

.ticketView tbody tr {
	border-top: 1px solid #0d94d2;
	cursor: pointer;
}

.ticketView th {
	font-size: 18px;
	text-align: center;
	padding: 10px;
	background: #0d94d2;
	font-weight: bold;
	color: #fff;
}

.ticketView td {
	font-size: 14px;
	text-align: center;
	padding: 5px;
	background: #f1f8ec;
	color: #000;
}

#ticketCommentsWrapper {
	margin: 5px auto !important;
	padding-top: 60px !important;
	padding-bottom: 10px !important;
}

.commentWrapper {
	border-radius: 5px 5px 0px 0px;
}

.userNameLeft {
	border-radius: 5px 5px 0px 0px;
	background-color: #7BC143;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
	margin-right: auto;
	margin-top: -40px;
}

.commentBlockLeft {
	border-radius: 0px 5px 5px 5px;
	background-color: #dddddd;
	text-align: left;
	padding: 10px 20px 10px 20px;
	margin-left: 15px;
	margin-right: 15px;
	width: 75%;
	margin-bottom: 10px;
}

.commentDateLeft {
	margin-left: auto;
	margin-top: 5px;
	text-align: right;
}

.userNameRight {
	border-radius: 5px 5px 0px 0px;
	background-color: #4bb8ef;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 15px;
	margin-top: -40px;
}

.secondUserNameRight {
	border-radius: 5px 5px 0px 0px;
	background-color: #4bb8ef;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 15px;
}

.commentBlockRight {
	border-radius: 5px 0px 5px 5px;
	text-align: right;
	padding: 10px 20px 10px 20px;
	margin-right: 15px;
	margin-left: auto;
	background-color: #dddddd;
	width: 75%;
	margin-bottom: 10px;
}

.commentDateRight {
	margin-right: auto;
	margin-top: 5px;
	text-align: left;
}