/* =========================================================================================================================== */
/* The logo - this centers it and resizez is */
#header{
	display: inline-block;
	width: 1245px;
	margin-left: 170px;
	margin-right: 170px;
}
#logoWrapper {
	width: 250px;
	margin: 0 auto;
}

#userInfo{
	border-radius: 5px;
	border: 3px solid #0d94d2;
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #0d94d2;
	cursor: pointer;
	margin-bottom: 5px;
}

#logo{
	width: 100%;
	height: 100%;




}

/* =========================================================================================================================== */
/* Some generic stuff */
select option[disabled] {
	display: none;
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #4bb8ef;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Arial';
	color: #fff;
}

.error {
	background-color: #fedb89 !important;
	color: #7C2B83 !important;
	-webkit-transition: opacity .1s ease, color .1s ease, background .1s
		ease, box-shadow .1s ease;
	transition: opacity .1s ease, color .1s ease, background .1s ease,
		box-shadow .1s ease;
	border: 1px solid #7C2B83 !important;
}

textarea {
	resize: none;
}

td div.columnOverflow {
	overflow: hidden;
}

/* =========================================================================================================================== */
/* The log in page design - all the good stuff */
#logInWrapper {
	border-radius: 10px;
	display: block;
	width: 250px;
	margin: 0 auto;
	text-align: center;
	padding: 1%;
}

#frontPageContainer {
	position: relative;
	display: block;
	width: 250px;
	margin: 40px auto 0px;
}

#toggle-login, #toggle-signup, #toggle-recovery, #logInButton,
	#registerButton, #recoveryButton, 
	#respondToTicketButton, #closeTheTicketButton, #assignUserToTicketButton,
	#reassignPriorityToTicketButton {
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#submitTicketButton{
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	width: 15%;
	margin-right: 20px;
	float: right;
}

#addCategoryButton,#addSubcategoryButton,#editSubcategoryButton,#removeSubcategoryButton,#removeCategoryButton, #editCategoryButton{
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	width: 50%;
	
}

#updateUserRoles{
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 0 auto;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	width: 100px;
	float: right;
	margin-left: 15px;
}
h3 {
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
	color: #0d94d2;
}

h1.frontPage {
	border-radius: 5px 5px 0px 0px;
	margin: -35px 0px 0px;
	background: #0d94d2;
	padding: 10px 0;
	font-family: 'Arial';
	font-size: 18px;
	text-align: center;
	color: #fff;
}

.frontPageForms {
	border-radius: 0px 0px 5px 5px;
	background: linear-gradient(to bottom, #7bc143 0%, #b6d81c 48%, #7bc143 100%);
	text-align: center;
	padding: 4% 4%;
}

#regTitle {
	width: 230px;
	background: #f1f8ec;
	margin: 8px 0px;
	border: 1px solid #555;
	padding: 5px 10px 5px 5px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

#logInMail, #logInPass, #recoveryMail, #regFirstName, #regLastName,
	#regMail, #regPass, #regConfPass {
	width: 208px;
	background: #f1f8ec;
	margin: 8px 0px;
	border: 1px solid #555;
	padding: 6px 10px 6px 10px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

/* =========================================================================================================================== */
/* User page - designed the stuff */
#mainContainer {
	width: 1225px;
	display: block;
	margin: 0 auto;
}

#menuWrapper {
	float: left;
	width: 15.5%;
	overflow: hidden;
	margin: 0px 5px 0px 0px;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 1%;
}

#contextWrapper {
	float: left;
	width: 80%;
	overflow: hidden;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 1%;
}

.menuRightArrow {
	display: inline-block;
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 14.7px;
	border-color: transparent transparent transparent #f1f8ec;
}

.menuRightArrowSelected {
	display: inline-block;
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 14.7px;
	border-color: transparent transparent transparent #7bc143;
}

.userPropertiesMenuButton {
	margin-right: -2px;
}

#btn-mngTk, #btn-userTk, #btn-subTk, #btn-prop, #btn-logOut,#manageUsersButton,#manageCategoriesButton {
	border-radius: 5px;
	background: #0d94d2;
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#ticketSearchButton,#usersSearchButton {
	width: 150px;
	border-radius: 5px;
	background: #0d94d2;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	padding: 10px;
	font-family: 'Arial';
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

h1.userPage {
	border-radius: 5px;
	margin: 5px 0px 0px 0px;
	background: #0d94d2;
	padding: 10px 0;
	font-family: 'Arial';
	font-size: 18px;
	text-align: center;
	color: #fff;
}

h2.userPage {
	margin: 20px 0px 0px 0px;
	font-family: 'Arial';
	font-size: 32px;
	text-align: center;
	color: #0d94d2;
}

.ticketInput {
	border-radius: 5px;
	width: 96.5%;
	background: #f1f8ec;
	margin: 10px 0px 0px 0px;
	border: 1px solid #555;
	padding: 5px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

.ticketCategories,.ticketPriorities {
	border-radius: 5px;
	width: 250px;
	background: #f1f8ec;
	margin: 10px 0px 0px 0px;
	border: 1px solid #555;
	padding: 4px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

#tkPerPgDiv,#usersPerPgDiv {
	display: inline-block;
	float: right;
}

#ticketsPerPage,#usersPerPage {
	border-radius: 5px;
	width: 50px;
	background: #f1f8ec;
	margin: 0px;
	border: 1px solid #555;
	padding: 2px;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
}

.searchTickets,.searchUsers {
	border-radius: 5px;
	border: 1px solid #555;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
	background: #f1f8ec;
}

#ticketSearchBox,#usersSearchBox {
	width: 300px;
	padding: 9px;
}

#ticketSearchDropBox,#usersSearchDropBox {
	width: 150px;
	padding: 8px;
}

.ticketView,.usersView {
	table-layout: fixed;
	width: 100%;
	margin: 0px 0px 5px 0px;
	font-family: 'Arial';
	border-collapse: collapse;
}

#manageUserContainer{
	width: 50%;	
	margin:0 auto;
}
.userRoles{
	table-layout: fixed;
	width: 100%;
	margin: 5px 0px 5px 0px;
	font-family: 'Arial';
	border-collapse: collapse;
	
}

#sysAdminDiv{
	float: left;
	color: #0d94d2;
	margin-top: 7px;
	margin-left: 10px;
}
.table-surf {
	display: inline-block;
	cursor: pointer;
}

.ticketView thead th.wide-col,.usersView thead th.wide-col,.userRoles thead th.wide-col{
	width: 15%;
}

.ticketView thead th.slim-col,.usersView thead th.slim-col,.userRoles thead th.slim-col {
	width: 12.4%;
}
.ticketView thead th.id-col,.usersView thead th.id-col,.userRoles thead th.id-col {
	width: 8%;

}

.ticketView thead th.rounded-tl,.usersView thead th.rounded-tl,.userRoles thead th.rounded-tl  {
	border-radius: 5px 0px 0px 0px;
}

.ticketView thead th.rounded-tr,.usersView thead th.rounded-tr,.userRoles thead th.rounded-tr  {
	border-radius: 0px 5px 0px 0px;
}

.ticketView tfoot th#rounded-bot,.usersView  tfoot th#rounded-bot,.userRoles tfoot th#rounded-bot {
	border-radius: 0px 0px 5px 5px;
}

.ticketView tbody tr:hover td,.usersView tbody tr:hover td {
	color: #333;
	background: linear-gradient(to bottom, #7bc143 0%, #b6d81c 48%, #7bc143 100%);
}

.ticketView tbody,.usersView tbody,.userRoles tbody  {
	outline: 1px solid #0d94d2;
	outline-offset: -1px;
}

.ticketView tbody tr,.usersView tbody tr,.userRoles tbody tr {
	border-top: 1px solid #0d94d2;
	cursor: pointer;
}

.ticketView th,.usersView th,.userRoles th {
	font-size: 18px;
	text-align: center;
	padding: 10px;
	background: #0d94d2;
	font-weight: bold;
	color: #fff;
}

.ticketView td,.usersView td,.userRoles td {
	font-size: 14px;
	text-align: center;
	padding: 5px;
	background: #f1f8ec;
	color: #000;
}

.classActive{
	background: rgba(253, 185, 19, 0.80);
	border-radius: 8px;
	width: 16px;
	height: 16px;
	display: block;
	margin: auto;
}

.classClosed{
	background: rgba(124, 43, 131, 0.60);
	border-radius: 8px;
	width: 16px;
	height: 16px;
	display: block;
	margin: auto;
}

.classAnswered{
	background: rgba(245, 128, 37, 0.80);
	border-radius: 8px;
	width: 16px;
	height: 16px;
	display: block;
	margin: auto;
}

#ticketCommentsWrapper {
	margin: 5px auto !important;
	padding-top: 60px !important;
	padding-bottom: 10px !important;
}

.commentWrapper {
	border-radius: 5px 5px 0px 0px;
}

.userNameLeft {
	border-radius: 5px 5px 0px 0px;
	background-color: #7BC143;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
	margin-right: auto;
	margin-top: -40px;
}

.commentBlockLeft {
	border-radius: 0px 5px 5px 5px;
	background-color: #dddddd;
	text-align: left;
	padding: 10px 20px 10px 20px;
	margin-left: 15px;
	margin-right: 15px;
	width: 75%;
	margin-bottom: 10px;
	overflow: hidden;
}

.commentDateLeft {
	margin-left: auto;
	margin-top: 5px;
	text-align: right;
	color: #0D94D2 ;
}

.userNameRight {
	border-radius: 5px 5px 0px 0px;
	background-color: #4bb8ef;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 15px;
	margin-top: -40px;
}

.secondUserNameRight {
	border-radius: 5px 5px 0px 0px;
	background-color: #4bb8ef;
	text-align: center;
	width: 100px;
	padding: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 15px;
}

.commentBlockRight {
	border-radius: 5px 0px 5px 5px;
	text-align: right;
	padding: 10px 20px 10px 20px;
	margin-right: 15px;
	margin-left: auto;
	background-color: #dddddd;
	width: 75%;
	margin-bottom: 10px;
	overflow: hidden;
}

.commentDateRight {
	margin-right: auto;
	margin-top: 5px;
	text-align: left;
	color :#0D94D2;
}

#ticketResponseWrapper{
}

#responseText{
	margin: 5px auto !important;
	
	
}
#responseButtons{
	float: right;
	width :30%;
	margin-right: 40px;
	margin-top: 120px;
}
#ticketAdminsDropBox{
	padding: 8px;
	width: 20%;
	float : left;
	margin-left: 11px;
	margin-top: 7px;
}

#ticketPrioritiesDropBox{
	padding: 8px;
	width: 15%;
	float : left;
	margin-left: 10px;
	margin-top: 7px;
}

#respondToTicketButton{
	float: right;
	width: 10%;
	margin-right: 11px;

}


#closeTheTicketButton{
	float: right;
	width: 10%;
	margin-right: 5px;

}
.browseFile{
	margin-top:15px;
	float: right;
	width: 20%;
}
#assignationLabel{
	font-family: Arial;
	color: #4bb8ef;
}




#assignUserToTicketButton{
	background-color: #7BC143;
	width: 15%;
	float: left;
	margin-left: 8px;
}

#reassignPriorityToTicketButton{
	background-color: #7BC143;
	width: 15%;
	float: left;
	margin-left: 8px;
}

#manageCategoriesContainer{
	margin-top: 10px;
	width: 100%;
	display: inline-block;
}
#addCategoryContainer,#editCategoryContainer,#removeCategoryContainer, #removeSubcategoryContainer, #addSubcategoryContainer, #editSubcategoryContainer{

	width: 30%;
	display:inline-block;
	vertical-align: top;
}

#gradient-verticalLine {
    border: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(15, 150, 210, 1), rgba(0, 0, 0, 0));
}

#gradient-horizontalLine{
	border: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(15, 150, 210, 1), rgba(0, 0, 0, 0));
}

.contentFormVerticalSeparator {

    width: 2px;
    height: 200px;
    display:inline-block;
} 

.contentFormHorizontalSeparator{
	width: 700px;
	height: 2px;
	display: block;
	margin: auto;
}

.verticalSeparatorWrapper{

	width: 2%;
	display:inline-block;
}

.horizontalSeparatorWrapper{
	height: 2%;
	display: block;

}

.categoryManagment {
	padding:10px;
	border-radius: 5px;
	border: 1px solid #555;
	font-family: 'Arial';
	font-size: 14px;
	color: #555;
	background: #f1f8ec;
	margin-bottom: 10px;
}

.dropDownCateg{
	width:232px;
}

.fieldCateg{
	width:210px;
}

.arrowDesc{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #7bc143;
	display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.arrowAsc{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #7bc143;;
	display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.arrowHover{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f1f8ec;
	display: inline-block;
    vertical-align: middle;
    margin-left: 5px;

}

.reassignTicketPriorities{
	padding: 8px;
	width: 25%;
	float : left;
	margin-left: 20px;
	margin-top: 7px;
}

